<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= beach.name %></title>
</head>
<body>
  <h1><%= beach.name %></h1>

  <p>Island: <%= beach.island %></p>

  <a href="/">Back</a>
</body>
</html>